@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        overflow-x: hidden;
        font: 500 16px helvetica;
        box-sizing: border-box;
    }
    * {
        user-select: none;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-thumb {
        width: 8px;
        border: 2px solid #FFFFFF;
        background: #888888;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #64CCC5;
    }
    ::-webkit-scrollbar-track {
        background: #FFFFFF;
    }
    .lorem {
        color: #1d1e1e;
    }
}

@layer components {
    .ch-link-sm {
        @apply font-inter text-sm 
    }
    .ch-link-sm:hover {
        @apply underline underline-offset-1 decoration-linkColor decoration-[.2rem]
    }
}