@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        overflow-x: hidden;
        font: 500 16px helvetica;
        box-sizing: border-box;
    }
    * {
        user-select: none;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-thumb {
        width: 8px;
        border: 2px solid #FFFFFF;
        background: #888888;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #64CCC5;
        transition: .2s ease-in-out;
    }
    ::-webkit-scrollbar-track {
        background: #FFFFFF;
    }
    .lorem {
        color: #94a3b8;
    }
}

@layer components {
    .bg-surface-gradient {
        @apply bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-purple-600 via-pink-600 to-secondary
    }
    .ch-link-sm {
        @apply font-inter text-sm 
    }
    .ch-link-sm:hover {
        @apply underline underline-offset-1 decoration-linkColor decoration-[.2rem]
    }

    .ch-input {
        @apply h-[1.875rem] placeholder:text-[#CCCCCC] text-textDark outline-none border-[1px] border-slate-200 rounded-md hover:shadow-sm hover:shadow-slate-500/20 focus:border-[1px] focus:border-slate-400 resize-none transition-all duration-200 ease-in-out
    }
}