@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        overflow-x: hidden;
        font: 500 16px helvetica;
        box-sizing: border-box;
    }
}

@layer components {
    .ch-link-sm {
        @apply font-inter text-sm 
    }
    .ch-link-sm:hover {
        @apply underline underline-offset-1 decoration-linkColor decoration-[.2rem]
    }
}